* {
  font-family: Roboto, sans-serif;
}

html { padding: 2rem 4rem; }
label {display: block; margin: 1em 0; }
label span {display: inline-block; width: 8rem; text-align: right; }
input {margin: 0 1rem; padding: .5rem; width: 15rem; font-size: 1.1rem; color: #666}
